$primary-colour: rgb(39, 39, 39);
$secondary-colour: rgb(255, 101, 47);
$text-colour: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-colour;
    color: $text-colour;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}
@mixin flex-item($main, $cross){
    justify-content: $main;
    align-items: $cross;

}

@mixin ease-in-out {
    transition: transform 500ms ease-in-out;
}